.outer-box{
    padding-left: 1rem;
    padding-top: 1rem;

}
.button-box-container{
    display: flex;
    justify-content: space-between;
}
.time-picker-container{
    position: absolute;
    top: 0;
    left: 0;
}
.hover-pointer{
 cursor: pointer;
}

.taskBtn{
    height: 5rem;
    width: 8rem;
   
}